<main>
    <div class="uk-padding" id="content">
        <h1 class="uk-heading-primary uk-text-center">Table Top Gaming News</h1>
        <hr>
    </div>
    <div>
        <button class="uk-button uk-button-secondary uk-width-1-1 uk-button-large" id="get-table-top-news">Get
            Articles</button>
    </div>

    <div class="uk-container uk-box-shadow-large">
        <div uk-modal id="notes">

        </div>

        <table class="uk-table uk-table-hover uk-table-justify uk-table-divider">
            <hr>
            <caption>News from tabletopgamingnews.com</caption>
            <thead>
                <tr>
                    <th class="uk-text-justify ">Title</th>
                    <th class="uk-text-justify">Notes</th>
                    <th class="uk-text-justify ">Author</th>
                    <th class="uk-text-justify ">Date Published</th>
                    <th class="uk-text-justify ">Route</th>

                </tr>
            </thead>
            <tbody>
                {{#each this}}
                <tr>
                    <td>{{title}}</td>
                    <td data={{id}}>
                        {{#if note}}
                        <a href="#notes" uk-toggle="#notes"><span uk-icon="comment"></span></a>
                        {{else}}
                        <a href="#notes" uk-toggle="#notes"><span uk-icon="plus"></span></a>
                        {{/if}}
                    </td>

                    <td data={{id}}>{{author}}</td>
                    <td data={{id}}>{{date}}</td>
                    <td><a href="http://www.tabletopgamingnews.com" +{{link}}>{{link}}</a></td>
                </tr>
                {{/each}}
            </tbody>

        </table>

    </div>
    <script src="/js/landing.js"></script>
</main>